<a href="https://colab.research.google.com/github/paulosalvatore/Ocean_DeepLearning_09_02_2021/blob/main/Introducao_Python_Ocean_DeepLearning_09_02_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Olá, Paulo Salvatore!")

Olá, Paulo Salvatore!

In [2]:
nome = "Paulo"
print(nome)

Paulo

In [3]:
sobrenome = "Salvatore"

nome_completo = nome + " " + sobrenome

print(nome_completo)

Paulo Salvatore

In [4]:
idade = 27

In [5]:
print(idade)

27

In [6]:
numero = 5

In [7]:
numero = numero + 1

print(numero)

6

In [8]:
print(numero + 1)

numero = "Paulo"

7

In [18]:
lista = [5, 9, 7, 6, 10, 6, 7, 8, 8, 8, 8, 8, 8, 8, 8]
# lista = [0, 1, 2, 3]

print(lista)

print(type(lista))

print("Primeiro elemento é o", lista[0])

print(len(lista), "elementos no total")

print("Elementos únicos:", set(lista))

print(len(set(lista)), "elementos únicos")

[5, 9, 7, 6, 10, 6, 7, 8, 8, 8, 8, 8, 8, 8, 8]
<class 'list'>
Primeiro elemento é o 5
15 elementos no total
Elementos únicos: {5, 6, 7, 8, 9, 10}
6 elementos únicos

In [20]:
# 0 -> Preto
# 1 -> Branco
# Qualquer valor entre 0 e 1 representa um tom de cinza

linha1 = [0, 0, 0]
linha2 = [0, 1, 0]
linha3 = [0, 0.5, 0]

imagem = [linha1, linha2, linha3]

print(imagem)

[[0, 0, 0], [0, 1, 0], [0, 0.5, 0]]

In [21]:
tupla = (5, 6, 7)

print(tupla)

print(type(tupla))

print(tupla[0])

print(len(tupla))

(5, 6, 7)
<class 'tuple'>
5
3

In [23]:
lista = [4, 9, 2]

print(lista)

lista[0] = 80

print(lista)

[4, 9, 2]
[80, 9, 2]

In [31]:
tupla = 4,

print(tupla)

print(type(tupla))

print(tupla[0])

(4,)
<class 'tuple'>
4

In [33]:
tupla = 4, 9, 3

tupla = list(tupla)

tupla[0] = 99

tupla = tuple(tupla)

print(tupla)
print(type(tupla))

(99, 9, 3)
<class 'tuple'>

In [35]:
tupla = "Paulo", "Salvatore"

print(tupla)
print(type(tupla))

nome, sobrenome = tupla

print(nome)
print(sobrenome)

('Paulo', 'Salvatore')
<class 'tuple'>
Paulo
Salvatore

In [36]:
tupla = "Paulo", "Salvatore"

print(tupla)
print(type(tupla))

nome = tupla[0]
sobrenome = tupla[1]

print(nome)
print(sobrenome)

('Paulo', 'Salvatore')
<class 'tuple'>
Paulo
Salvatore

In [38]:
lista = ["Paulo", "Salvatore"]

print(lista)
print(type(lista))

nome, sobrenome = lista

print(nome)
print(sobrenome)

['Paulo', 'Salvatore']
<class 'list'>
Paulo
Salvatore

In [39]:
tupla = (5, 6, 7, [1, 2, 3])

lista = tupla[3]

print(lista)
print(type(lista))

lista[0] = 99

print(tupla)

[1, 2, 3]
<class 'list'>
(5, 6, 7, [99, 2, 3])